/**
 * Copyright 2018-2021 Krisztián Nagy
 * @file 
 * @author Krisztián Nagy [nkrisztian89@gmail.com]
 * @licence GNU GPLv3 <http://www.gnu.org/licenses/>
 */

@font-face {
    font-family: gameFont;
    src: url(../fonts/Oregano_regular.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/Macondo_Swash_Caps_regular.ttf);
}

@font-face {
    font-family: numberFont;
    src: url(../fonts/Oregano_regular.ttf);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

body {
    background-color: #999999;
    font-family: gameFont,Ubuntu,Arial,sans-serif;
}

div {
    text-align: center;
}

img {
    display: inline;
}

button {
    display: inline;
    min-height: 2.0em;
    margin: 0 0.5em;
    font-family: gameFont,Ubuntu,Arial,sans-serif;
    font-size: 2.2vh;
    min-width: 3em;
    box-shadow: 0 0 0.4em saddlebrown;
    background-color: antiquewhite;
    border: 2px solid #c37c00;
    background: linear-gradient(180deg, antiquewhite, moccasin);
}

button:hover {
    box-shadow: 0 0 0.4em black;
}

div, span, img {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

span {
    position: relative;
}

h2 {
    font-family: titleFont;
    text-shadow: 0 0 0.15em gray;
    margin: 0.4em 0.2em 0.6em 0.4em;
}

h2 span.subtitle {
    font-size: 70%;
}

h3 {
    font-size: 150%;
}

:focus {
    outline: none;
}

/* **************************************************************
 * Scroll
 */

.inside-scroll::-webkit-scrollbar {
    width: 0.35em;
    background: transparent;
}

.inside-scroll::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.25);
    border-radius: 0.35em;
}

.inside-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.35);
}

.inside-scroll {
    display: block;
    box-sizing: border-box;
    width: calc(100% + 0.7em);
    padding-right: 0.35em;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* **************************************************************
   * Panel
 */

div.panel {
    margin: 0.2vh 0.3vh;
    padding: 0.2vh 0.3vh;
    box-sizing: border-box;
}

/* **************************************************************
   * Popup 
 */

div.panel.popup-wrapper {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 4;

    background: rgba(128,128,128,0.5);

    text-align: center;
    height: 100%;
    white-space: nowrap;
}

div.popup.panel {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.8em 0.8em 0.2em 0.8em;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: moccasin;
    box-shadow: 0 0 1em black, 0 0 1em saddlebrown inset;
}

div.popup.panel::-webkit-scrollbar {
    width: 0.35em;
    background: transparent;
}

div.popup.panel::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.25);
    border-radius: 0.35em;
}

div.popup.panel.intro,
div.popup.panel.quest,
div.popup.panel.heal,
div.popup.panel.battle,
div.popup.panel.map,
div.popup.panel.bag,
div.popup.panel.leaderboard-info {
    padding-top: 3em;
}

div.popup.panel.intro {
    background: url('../img/decor.png') no-repeat center 1em / auto 1.2em;
    background-color: moccasin;
}

div.popup.panel.loading {
    padding-top: 3.6em;
    background: url('../img/loading.gif') no-repeat center 0.9em / auto 2.4em;
    background-color: moccasin;
}

div.popup.panel.quest {
    background:
        url('../img/quest.png')      no-repeat center 0.4em / auto 2.4em, 
        url('../img/decor-long.png') no-repeat center 1em   / auto 1.2em;
    background-color: moccasin;
}

div.popup.panel.heal {
    background: 
        url('../img/natural-heal.png') no-repeat center 0.4em / auto 2.4em, 
        url('../img/decor-long.png')   no-repeat center 1em   / auto 1.2em;
    background-color: moccasin;
}

div.popup.panel.battle {
    background: 
        url('../img/battle-dark.png') no-repeat center 0.4em / auto 2.4em, 
        url('../img/decor-long.png')  no-repeat center 1em   / auto 1.2em;
    background-color: moccasin;
}

div.popup.panel.map {
    background:
        url('../img/map.png')        no-repeat center 0.4em / auto 2.4em, 
        url('../img/decor-long.png') no-repeat center 1em   / auto 1.2em;
    background-color: moccasin;
}

div.popup.panel.bag {
    background:
        url('../img/bag.png')        no-repeat center 0.4em / auto 2.4em, 
        url('../img/decor-long.png') no-repeat center 1em   / auto 1.2em;
    background-color: moccasin;
}

div.popup.panel.leaderboard-info {
    background:
        url('../img/leaderboard-big.png') no-repeat center 0.4em / auto 2.4em, 
        url('../img/decor-long.png')      no-repeat center 1em   / auto 1.2em;
    background-color: moccasin;
}

@media screen and (orientation: portrait) {
    div.popup.panel.info {
        width: 90vw;
    }

    div.popup.panel.wide {
        width: 100vw;
    }

    div.popup.panel.leaderboard {
        padding-right: 0.4em;
        padding-left: 0.4em;
    }
}

img.inline {
    width: auto;
    height: 1em;
    transform: translateY(0.2em);
}

span.button {
    font-size: 90%;
    padding: 0em 0.2em;
    background-color: antiquewhite;
    border: 1px solid #c37c00;
    background: linear-gradient(180deg, antiquewhite, moccasin);
    white-space: nowrap;
}

div.popup.panel>div.label {
    white-space: normal;
    margin-bottom: 0.75em;
}

div.popup.panel div.options.panel {
    white-space: nowrap;
}

div.popup.panel div.options.portraits.panel {
    white-space: normal;
}

div.popup.panel input[type="text"] {
    margin: 0em 0.3em 0.6em 0.3em;
    color: darkred;
    background-color: moccasin;
    font-family: gameFont,Ubuntu,Arial,sans-serif;
    font-weight: bold;
    border: 1px dashed gray;
    height: 2.6vh;
    font-size: 2.4vh;
}

div.popup.panel input[type="text"]:active {
    border: 1px dashed darkred;
}

.popup-wrapper button {
    margin-bottom: 0.5em;
    padding: 0.1em 0.5em;
}

button.main-menu-option {
    display: block;
    width: 10em;
    border: 2px solid saddlebrown;
    background: 
        url('../img/button-left.png') no-repeat left center / auto 100%, 
        url('../img/button-right.png') no-repeat right center / auto 100%,
        linear-gradient(180deg, antiquewhite, moccasin);
}

button.load-menu-option,
button.save-menu-option {
    display: block;
    width: 15em;
    max-width: 75vw;
    text-align: left;
    position: relative;
}

button.save-menu-option {
    display: inline-block;
    margin-right: 0.1em;
}

button.save-menu-delete {
    margin-left: 0.1em;
    color: white;
    background-color: red;
    background-image: linear-gradient(180deg, red, darkred);
    width: 1.5em;
    height: 1.5em;
    padding: 0.2em;
    min-width: 0;
    transform: translate(0, 10%);
}

button.load-menu-option>.name,
button.save-menu-option>.name {
    text-shadow: 0 0 0.1em gray;
    color: darkred;
}

button.load-menu-option>.date,
button.save-menu-option>.date {
    font-size: 90%;
    float: right;
    margin-top: 0.1em;
}

button.load-menu-option>div.label,
button.save-menu-option>div.label {
    background-color: #935900;
    display: inline-block;
    padding: 0 0.5em;
    margin: 0.2em 0.1em;
    border: none;
    font-size: 1.8vh;
}

button.load-menu-option>div.label.health,
button.load-menu-option>div.label.areas,
button.save-menu-option>div.label.health,
button.save-menu-option>div.label.areas {
    color: white;
}

button.load-menu-option>img.leaderboard,
button.save-menu-option>img.leaderboard {
    width: 1em;
    height: 1em;
    position: absolute;
    bottom: 0.25em;
    right: 0.3em;
}

button.load-menu-option>img.leaderboard.archive,
button.save-menu-option>img.leaderboard.archive {
    opacity: 0.5;
    filter: grayscale(100%);
}

button.hero {
    position: relative;
    text-shadow: 0 0 0.1em gray;
    color: darkred;
    padding: 0.1em 0.2em 0.1em 2.6em;
    height: 2.8em;
}

button.hero > img {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    width: 2.2em;
    height: 2.2em;
}

button.portrait {
    padding: 0.3em 0.3em 0 0.3em;
}

button.portrait > img {
    width: 2.5em;
    height: 2.5em;
    margin: 0;
    border: none;
}

.filter-menu button {
    display: block;
    width: 8em;
}

/* **************************************************************
   * Label 
 */

div.label {
    margin: 0.1em;
    padding: 0;
    font-size: 2.3vh;
}

/* **************************************************************
   * OptionView 
 */

div.option > div.title.label {
    font-weight: bold;
    font-size: 2.5vh;
}

/* **************************************************************
   * MoneyLabel
 */

div.label.money {
    color: gold;
    font-size: 1.8vh;
    font-family: numberFont,Ubuntu,Arial,sans-serif;
}

div.label.money.insufficient {
    color: red;
}

div.label.money:after {
    content: "";
    display: inline-block;
    background: url("../img/coin.png") 100% 100% / cover;
    width: 1.6vh;
    height: 1.6vh;
    margin: 0 0 0 0.25em;
    transform: translate(0, 20%);
}

@keyframes highlight-change {
    0% {transform: scale(1.5,1.5);}
    100% {transform: scale(1,1);}
}

div.label.money.changed {
    animation: highlight-change 0.5s;
}

/* **************************************************************
   * Health
 */

div.label.health:after {
    content: "";
    display: inline-block;
    background: url("../img/heart.png") 100% 100% / cover;
    width: 1.6vh;
    height: 1.6vh;
    margin: 0 0 0 0.25em;
    transform: translate(0, 15%);
}

/* **************************************************************
   * Areas
 */

div.label.areas:after {
    content: "";
    display: inline-block;
    background: url("../img/map-small.png") 100% 100% / cover;
    width: 1.6vh;
    height: 1.6vh;
    margin: 0 0 0 0.25em;
    transform: translate(0, 15%);
}

/* **************************************************************
   * IconButton
 */

div.iconButton.panel {
    position: relative;
    display: inline-block;
    border: 0.3vh dashed grey;
    background-color: rgba(0,0,0,0.2);
}

div.iconButton.panel.light {
    background-color: rgba(255,255,255,0.1);
}

div.iconButton.panel.disabled {
    opacity: 0.5;
    cursor: default;
}

div.iconButton.panel:hover:not(.disabled) {
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
}

div.iconButton.panel.light:hover:not(.disabled) {
    background-color: rgba(255,255,255,0.3);
}

div.iconButton.panel > img {
    width: auto;
    height: 6vh;
    float: left;
}

div.iconButton.panel > div.label.caption {
    display: inline-block;
    margin: 2vh 0.2em;
    font-weight: bold;
    font-size: 2.0vh;
}

/* MoneyLabel on IconButton */

div.iconButton.panel > div.label.money {
    position: absolute;
    right: 0.1em;
    bottom: 0em;
    margin-bottom: 0;
}

/* **************************************************************
   * HPBar
 */

div.hp-bar-background {
    display: inline-block;
    background: gray;
    background-image: -webkit-linear-gradient(top, #4d4d4d, gray);
    border: 0.3vh solid black;
    position: relative;
    padding: 0;
    height: 2.5vh;
}

div.hp-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: red;
    background-image: -webkit-linear-gradient(top, red, darkred);
    margin: 0;
}

div.hp-bar.animated {
    transition: width 0.3s ease-out;
}

div.hp-bar.hit {
    background: orange;
    background-image: -webkit-linear-gradient(top, orange, darkorange);
    transition: width 0.3s ease-out;
}

div.hp-bar.heal {
    background: lightgreen;
    background-image: -webkit-linear-gradient(top, lightgreen, green);
}

div.hp-bar-background  > div.label {
    position: relative;
    color: white;
    font: bold 2.2vh numberFont,Ubuntu,Arial,sans-serif;
    margin: 0;
    text-shadow: none;
}

/* **************************************************************
   * Screen panels
 */

@keyframes zoom-out {
    0% {background-size: 150%;}
    20% {background-size: 136%;}
    40% {background-size: 124%;}
    60% {background-size: 114%;}
    80% {background-size: 106%;}
    100% {background-size: 100%;}
}

@keyframes zoom-in {
    0% {background-size: 100%;}
    20% {background-size: 114%;}
    40% {background-size: 126%;}
    60% {background-size: 136%;}
    80% {background-size: 144%;}
    100% {background-size: 150%;}
}

@media screen and (orientation: portrait) {

    @keyframes zoom-out {
        0% {background-size: auto 150%;}
        20% {background-size: auto 136%;}
        40% {background-size: auto 124%;}
        60% {background-size: auto 114%;}
        80% {background-size: auto 106%;}
        100% {background-size: auto 100%;}
    }

    @keyframes zoom-in {
        0% {background-size: auto 100%;}
        20% {background-size: auto 114%;}
        40% {background-size: auto 126%;}
        60% {background-size: auto 136%;}
        80% {background-size: auto 144%;}
        100% {background-size: auto 150%;}
    }
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

div.panel.zoom-out {
    animation: zoom-out 0.5s;
}

div.panel.zoom-in {
    animation: zoom-in 0.5s;
    animation-fill-mode: forwards;
}

div.title.label {
    font-family: titleFont,Ubuntu,Arial,sans-serif;
}

div.curtain.panel, div.world.panel, div.room.panel, div.town.panel, div.shop.panel {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

div.curtain.panel {
    position: fixed;
    z-index: 10;
    background: black;
}

div.curtain.panel.fade-in {
    animation: fade-in 0.3s;
    animation-fill-mode: forwards;
}

div.curtain.panel.fade-out {
    animation: fade-out 0.3s;
    animation-fill-mode: forwards;
}

div.shop.panel {
    overflow-y: hidden;
}

div.room.panel > div.title.panel {
    transition: box-shadow 0.5s;
}

div.room.panel > div.battle-title.panel {
    box-shadow: inset 0 0 2em red;
}

/* **************************************************************
 * TownView
 */

@media screen and (orientation: portrait) {
    div.npcs.panel {
        margin-top: 1vh;
        max-height: calc(100% - 16vh);
        overflow-y: auto;
    }
}

/* **************************************************************
 * WorldView
 */

div.areas.panel {
    margin-top: 1vh;
    max-height: calc(100% - 16vh);
    overflow-y: auto;
}

@media screen and (orientation: portrait) {
    div.areas.panel {
        margin-top: 1vh;
        max-height: calc(100% - 25vh);
        overflow-y: auto;
    }
}

/* **************************************************************
 * Travel button (to world, to town)
 */

div.travelButton.panel {
    color: goldenrod;
    border-color: goldenrod;
    backdrop-filter: blur(5px);
}

div.travelButton.panel.light {
    border-color: #660000;
    color: darkred;
}

div.travelButton.panel:hover {
    color: gold;
    box-shadow: 0 0 1.0em goldenrod;
}

div.travelButton.panel.light:hover {
    color: #660000;
    box-shadow: 0 0 1.0em #660000;
}

/* **************************************************************
 * Upgrade button
 */

div.upgradeButton.panel {
    color: deepskyblue;
    border-color: deepskyblue;
}

div.upgradeButton.panel:hover:not(.disabled) {
    color: #80dfff;
    box-shadow: 0 0 1.0em deepskyblue;
}

/* **************************************************************
 * Top menu
 */

div.topMenu.panel {
    position: absolute;
    float: left;
}

@media screen and (orientation: portrait) {
    div.topMenu.panel {
        position: fixed;
        left: 0.2vh;
        bottom: 0.3vh;
    }
}

/* **************************************************************
 * Setting button
 */

div.settingButton.panel {
    color: blue;
    border-color: blue;
}

div.settingButton.panel:hover {
    color: #0000dd;
    box-shadow: 0 0 1.0em blue;
}

/* **************************************************************
   * OptionView
 */

div.option.panel {
    display: inline-block;
    min-width: 20vh;
    box-sizing: content-box;
    border: 0.3vh dashed gray;
    background-color: rgba(0,0,0,0.2);
}

div.option.panel.light {
    background-color: rgba(255,255,255,0.1);
}

div.option.panel.disabled {
    opacity: 0.5;
    cursor: default;
}

div.option.panel:hover:not(.disabled) {
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

div.option.panel.light:hover:not(.disabled) {
    background-color: rgba(255,255,255,0.3);
}

@media screen and (orientation: portrait) {
    div.option.panel.light:not(.disabled) {
        background-color: rgba(255,255,255,0.2);
    }
}

div.option.panel > img {
    width: auto;
    height: 18vh;
    margin: 0.75vh;
}

/* **************************************************************
   * PathView
 */

div.path.panel {
    position: relative;
    display: inline-block;
    border-color: green;
    width: 30vh;
    max-width: 40vw;
    min-width: 0;
    padding: 0.5vh;
    z-index: 2;
}

div.path.panel.visited {
    border-color: blue;
}

div.path.panel.traversed {
    opacity: 0.8;
    border-color: silver;
}

div.path.panel:hover:not(.disabled) {
    box-shadow: 0 0 1.0em darkgreen;
    cursor: url(../img/cursor/footsteps.png) 16 16, pointer;
}

div.path.panel.visited:hover:not(.disabled) {
    box-shadow: 0 0 1.0em blue;
}

div.path.panel.traversed:hover:not(.disabled) {
    box-shadow: 0 0 1.0em silver;
}

/* images on the PathView */

div.path.panel > img {
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 0 0 0.5em white;
}

div.path.panel > img.enemy, div.path.panel > img.chest, div.path.panel > img.unknown {
    position: absolute;
    top: 25%;
    left: 50%;
    width: auto;
    height: 50%;
    transform: translate(-50%,0);
    box-shadow: none;
}

div.path.panel > img.enemy.side {
    left: 30%;
}

div.path.panel > img.chest.side {
    left: 70%;
}

/* **************************************************************
   * AreaView
 */

div.area.panel {
    position: relative;
    color: green;
    border-color: darkgreen;
}

div.area.panel.visited {
    border-color: blue;
    color: #4d4dff;
}

div.area.panel.traversed {
    opacity: 0.8;
    border-color: silver;
    color: silver;
}

div.area.panel:hover {
    color: darkgreen;
    box-shadow: 0 0 1.0em darkgreen;
}

div.area.panel.visited:hover {
    color: blue;
    box-shadow: 0 0 1.0em blue;
}

div.area.panel.traversed:hover {
    color: white;
    box-shadow: 0 0 1.0em silver;
}

@media screen and (orientation: portrait) {
    div.area.panel {
        color: darkgreen;
    }

    div.area.panel.visited {
        color: blue;
    }

    div.area.panel.traversed {
        color: white;
    }
}

/* treasure image on AreaView */

div.area.panel > img.area-treasure {
    width: 3.2vh;
    height: 3.2vh;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0.5vh;
}

div.area.panel > img.area-quest {
    width: 3.2vh;
    height: 3.2vh;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0.5vh;
}

div.area.panel > img.area-boss{
    width: 3.2vh;
    height: 3.2vh;
    position: absolute;
    right: 0;
    bottom: 3.4vh;
    padding: 0;
    margin: 0.5vh;
}

/* **************************************************************
 * NPCView
 */

div.npc.panel {
    color: lightgray;
    border-color: lightgray;
    position:  relative;
}

div.npc.panel:hover {
    color: white;
    box-shadow: 0 0 1.0em lightgray;
}

div.npc.panel > img.npc-quest {
    width: 4.0vh;
    height: 4.0vh;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0.5vh;
}

@keyframes pulse {
    0% {transform: scale(1.2,1.2);}
    50% {transform: scale(0.8,0.8);}
    100% {transform: scale(1.2,1.2);}
}

div.npc.panel > img.npc-update {
    animation: pulse 1.5s;
    animation-iteration-count: infinite;
}

/* **************************************************************
 * ShopView
 */

div.services.panel {
    margin-top: 1vh;
    max-height: calc(100vh - 10em);
    overflow-y: auto;
    padding-bottom: 30vh;
}

div.empty-label.label {
    margin-top: 15vh;
    font-size: 160%;
    text-shadow: 0 0 0.1em moccasin, 0 0 0.2em moccasin, 0 0 0.3em moccasin, 0 0 0.4em moccasin;
}

/* **************************************************************
 * ServiceView
 */

div.service.panel {
    color: #6bb300;
    border-color: #6bb300;
    padding-left: 0.6vh;
    backdrop-filter: blur(10px);
    padding-right: 0.6vh;
}

@media screen and (orientation: portrait) {
    div.service.panel {
        background-color: rgba(0,0,0,0.4);
    }
}

div.service.item.panel {
    border-color: #b37400;
    color: #b37400;
}

div.service.skill.panel {
    border-color: #9999ff;
    color: #9999ff;
}

div.service.panel:hover:not(.disabled) {
    color: greenyellow;
    box-shadow: 0 0 1.0em #6bb300;
}

div.service.item.panel:hover:not(.disabled) {
    color: orange;
    box-shadow: 0 0 1.0em #b37400;
}

div.service.skill.panel:hover:not(.disabled) {
    color: #ccccff;
    box-shadow: 0 0 1.0em #9999ff;
}

div.service.panel > div.title.label {
    margin-bottom: 0;
}

div.service.panel > div.description.label {
    min-height: 6.5vh;
    line-height: 4.5vh;
}

span.skill-description {
    font-size: 2.0vh;
    display: inline-block;
    line-height: 2.1vh;
    vertical-align: middle;
}

/* **************************************************************
   * EnemyView
 */

div.enemy.panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 25vw;
    max-width: 45vw;
    overflow: visible;
    display: inline-block;
    margin: 0;
    z-index: 3;
    -webkit-tap-highlight-color: transparent;
}

div.enemy.panel.side {
    transform: translate(-105%,-50%);
}

@media screen and (orientation: portrait) {
    div.enemy.panel {
        top: 45%;
    }
}

div.enemy.panel.disabled {
    cursor: default;
}

div.enemy-text.panel {
    background: moccasin;
    box-shadow: 0 0 1em black, 0 0 1em saddlebrown inset;
    opacity: 1;
    min-width: 20vw;
    max-width: 45vw;
    margin-top: 2vh;
    padding-bottom: 0.5vh;
}

div.enemy-text.panel span.enemy-name {
    font-weight: bold;
    white-space: nowrap;
}

div.enemy-text.panel span.enemy-name.boss {
    text-shadow: 0 0 0.1em gray;
    color: darkred;
}

div.enemy-text.panel span.enemy-name.boss>span {
    margin: 0 0.2em;
}

div.enemy-text.panel img.boss {
    height: 1em;
    transform: translate(0, 0.15em);
}

div.enemy.panel:hover:not(.disabled) {
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 1.0em rgba(255,255,255,0.2);
    cursor: url(../img/cursor/attack-cursor.png) 0 16, pointer;
}

div.enemy.panel:hover:not(.disabled) > div.enemy-text.panel {
    box-shadow: 0 0 1em red, 0 0 1em saddlebrown inset;
}

/* animations for the enemies */

@keyframes idle {
    0% {transform: translate(-50%,-50%) scale(1,1);}
    50% {transform: translate(-50%,-50%) scale(1.02,0.975);}
    100% {transform: translate(-50%,-50%) scale(1,1);}
}

@keyframes shake {
    0% {transform: translate(-50%,-50%) translate(0.25vh,0.45vh);}
    20% {transform: translate(-50%,-50%) translate(-0.4vh,-0.2vh);}
    40% {transform: translate(-50%,-50%) translate(0.2vh,0.45vh);}
    60% {transform: translate(-50%,-50%) translate(-0.45vh,-0.25vh);}
    80% {transform: translate(-50%,-50%) translate(0.25vh,0.4vh);}
    100% {transform: translate(-50%,-50%) translate(0.0vh,0.0vh);}
}

@keyframes die {
    0% {transform: translate(-50%,-50%) scale(1,1); opacity: 1.0;}
    100% {transform: translate(-50%,-50%) scale(1,0); opacity: 0.0;}
}

@keyframes glow-white {
    0% {filter: drop-shadow(0 0 0.25em white);}
    50% {filter: drop-shadow(0 0 0.75em white);}
    100% {filter: drop-shadow(0 0 0.25em white);}
}

@keyframes glow-yellow {
    0% {filter: drop-shadow(0 0 0.25em yellow);}
    50% {filter: drop-shadow(0 0 0.75em yellow);}
    100% {filter: drop-shadow(0 0 0.25em yellow);}
}

@keyframes glow-orange {
    0% {filter: drop-shadow(0 0 0.25em orange);}
    50% {filter: drop-shadow(0 0 0.75em orange);}
    100% {filter: drop-shadow(0 0 0.25em orange);}
}

@keyframes glow-red {
    0% {filter: drop-shadow(0 0 0.25em red);}
    50% {filter: drop-shadow(0 0 0.75em red);}
    100% {filter: drop-shadow(0 0 0.25em red);}
}

@keyframes lime {
    0% {filter: drop-shadow(0 0 0.25em lime);}
    50% {filter: drop-shadow(0 0 0.75em lime);}
    100% {filter: drop-shadow(0 0 0.25em lime);}
}

@keyframes glow-green {
    0% {filter: drop-shadow(0 0 0.25em green);}
    50% {filter: drop-shadow(0 0 0.75em green);}
    100% {filter: drop-shadow(0 0 0.25em green);}
}

@keyframes glow-skyblue {
    0% {filter: drop-shadow(0 0 0.25em skyblue);}
    50% {filter: drop-shadow(0 0 0.75em skyblue);}
    100% {filter: drop-shadow(0 0 0.25em skyblue);}
}

@keyframes glow-darkorchid {
    0% {filter: drop-shadow(0 0 0.25em darkorchid);}
    50% {filter: drop-shadow(0 0 0.75em darkorchid);}
    100% {filter: drop-shadow(0 0 0.25em darkorchid);}
}

div.enemy.panel > div.enemy-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    height: 25vh;
}

div.enemy.panel img.enemy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 25vh;
    animation: idle 1.5s infinite;
    transform-origin: center bottom;
}

div.enemy.panel img.enemy.glow-white {
    animation: idle 1.5s infinite, glow-white 1.5s infinite;
}
div.enemy.panel img.enemy.glow-yellow {
    animation: idle 1.5s infinite, glow-yellow 1.5s infinite;
}
div.enemy.panel img.enemy.glow-orange {
    animation: idle 1.5s infinite, glow-orange 1.5s infinite;
}
div.enemy.panel img.enemy.glow-red {
    animation: idle 1.5s infinite, glow-red 1.5s infinite;
}
div.enemy.panel img.enemy.glow-lime {
    animation: idle 1.5s infinite, glow-lime 1.5s infinite;
}
div.enemy.panel img.enemy.glow-green {
    animation: idle 1.5s infinite, glow-green 1.5s infinite;
}
div.enemy.panel img.enemy.glow-skyblue {
    animation: idle 1.5s infinite, glow-skyblue 1.5s infinite;
}
div.enemy.panel img.enemy.glow-darkorchid {
    animation: idle 1.5s infinite, glow-darkorchid 1.5s infinite;
}

div.enemy.panel.shake img.enemy {
    animation: shake 0.2s;
}

div.enemy.panel.shake img.enemy.glow-white {
    animation: shake 0.2s, glow-white 1.5s infinite;
}
div.enemy.panel.shake img.enemy.glow-yellow {
    animation: shake 0.2s, glow-yellow 1.5s infinite;
}
div.enemy.panel.shake img.enemy.glow-orange {
    animation: shake 0.2s, glow-orange 1.5s infinite;
}
div.enemy.panel.shake img.enemy.glow-red {
    animation: shake 0.2s, glow-red 1.5s infinite;
}
div.enemy.panel.shake img.enemy.glow-lime {
    animation: shake 0.2s, glow-lime 1.5s infinite;
}
div.enemy.panel.shake img.enemy.glow-green {
    animation: shake 0.2s, glow-green 1.5s infinite;
}
div.enemy.panel.shake img.enemy.glow-skyblue {
    animation: shake 0.2s, glow-skyblue 1.5s infinite;
}
div.enemy.panel.shake img.enemy.glow-darkorchid {
    animation: shake 0.2s, glow-darkorchid 1.5s infinite;
}

div.enemy.panel.dead img.enemy {
    animation: die 0.5s;
    animation-fill-mode: forwards;
    transform-origin: center bottom;
}

div.enemy.panel.dead > div.enemy-text.panel {
    transition: opacity 0.3s;
    opacity: 0;
}

div.enemy.panel .hp-bar-background > div.label {
    font-size: 1.8vh;
}

/* skills panel on EnemyView */

div.skills.panel {
    position: absolute;
    left: 0.6vh;
    top: calc(100% + 0.4vh);
    text-align: left;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

div.enemy.panel > img.status {
    position: absolute;
    left: 30%;
    top: -10%;
    width: 40%;
    height: auto;
}

div.enemy.panel > img.status.new {
    animation: highlight-change 0.3s;
}

/** animations for attack effects */

/* sliding animations - for swords, staves, axes - with several angles */

@keyframes slide45 {
    0% {opacity: 0; transform: translate(-50%,-60%) translate(25%,-25%) rotate(-45deg) scale(1,1);}
    10% {opacity: 1; transform: translate(-50%,-60%) translate(20%,-20%) rotate(-45deg) scale(1,1);}
    50% {opacity: 0.75; transform: translate(-50%,-60%) translate(0,0) rotate(-45deg) scale(0.75,0.75);}
    100% {opacity: 0; transform: translate(-50%,-60%) translate(-25%,25%) rotate(-45deg) scale(0.5,0.5);}
}

@keyframes slide45left {
    0% {opacity: 0; transform: translate(-50%,-60%) translate(-25%,-25%) rotate(45deg) scale(-1,1);}
    10% {opacity: 1; transform: translate(-50%,-60%) translate(-20%,-20%) rotate(45deg) scale(-1,1);}
    50% {opacity: 0.75; transform: translate(-50%,-60%) translate(0,0) rotate(45deg) scale(-0.75,0.75);}
    100% {opacity: 0; transform: translate(-50%,-60%) translate(25%,25%) rotate(45deg) scale(-0.5,0.5);}
}

@keyframes slide30 {
    0% {opacity: 0; transform: translate(-50%,-60%) translate(25%,-12.5%) rotate(-30deg) scale(1,1);}
    10% {opacity: 1; transform: translate(-50%,-60%) translate(20%,-10%) rotate(-30deg) scale(1,1);}
    50% {opacity: 0.75; transform: translate(-50%,-60%) translate(0,0) rotate(-30deg) scale(0.75,0.75);}
    100% {opacity: 0; transform: translate(-50%,-60%) translate(-25%,12.5%) rotate(-30deg) scale(0.5,0.5);}
}

@keyframes slide60 {
    0% {opacity: 0; transform: translate(-50%,-60%) translate(12.5%,-25%) rotate(-60deg) scale(1,1);}
    10% {opacity: 1; transform: translate(-50%,-60%) translate(10%,-20%) rotate(-60deg) scale(1,1);}
    50% {opacity: 0.75; transform: translate(-50%,-60%) translate(0,0) rotate(-60deg) scale(0.75,0.75);}
    100% {opacity: 0; transform: translate(-50%,-60%) translate(-12.5%,25%) rotate(-60deg) scale(0.5,0.5);}
}

@keyframes slide0 {
    0% {opacity: 0; transform: translate(-50%,-60%) translate(30%,0) scale(1,1);}
    10% {opacity: 1; transform: translate(-50%,-60%) translate(24%,0%) scale(1,1);}
    50% {opacity: 0.75; transform: translate(-50%,-60%) translate(0,0) scale(0.75,0.75);}
    100% {opacity: 0; transform: translate(-50%,-60%) translate(-30%,0) scale(0.5,0.5);}
}

/* expanding animations - for unarmed punches */

@keyframes expand0 {
    0% {opacity: 0; transform: translate(-50%,-60%) translate(20%,-10%) scale(0,0);}
    10% {opacity: 1; transform: translate(-50%,-60%) translate(20%,-10%) scale(0.25,0.25);}
    100% {opacity: 0; transform: translate(-50%,-60%) translate(20%,-10%) scale(0.5,0.5);}
}

@keyframes expand1 {
    0% {opacity: 0; transform: translate(-50%,-60%) translate(-10%,10%) scale(0,0);}
    10% {opacity: 1; transform: translate(-50%,-60%) translate(-10%,10%) scale(0.25,0.25);}
    100% {opacity: 0; transform: translate(-50%,-60%) translate(-10%,10%) scale(0.5,0.5);}
}

@keyframes expand2 {
    0% {opacity: 0; transform: translate(-50%,-60%) translate(-5%,-20%) scale(0,0);}
    10% {opacity: 1; transform: translate(-50%,-60%) translate(-5%,-20%) scale(0.25,0.25);}
    100% {opacity: 0; transform: translate(-50%,-60%) translate(-5%,-20%) scale(0.5,0.5);}
}

div.enemy.panel > img.attack {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    width: auto;
    height: 90%;
}

div.enemy.panel > img.attack.slide45 {
    animation: slide45 0.2s;
}

div.enemy.panel > img.attack.slide30 {
    animation: slide30 0.2s;
}

div.enemy.panel > img.attack.slide60 {
    animation: slide60 0.2s;
}

div.enemy.panel > img.attack.slide0 {
    animation: slide0 0.2s;
}

div.enemy.panel > img.attack.slide45left {
    animation: slide45left 0.2s;
}

div.enemy.panel > img.attack.expand0 {
    animation: expand0 0.2s;
}

div.enemy.panel > img.attack.expand1 {
    animation: expand1 0.2s;
}

div.enemy.panel > img.attack.expand2 {
    animation: expand2 0.2s;
}

/* **************************************************************
   * SkillView
 */

div.skill-button.panel {
    display: inline-block;
    background-color: rgba(255,255,255,0.1);
    border: 0.3vh dashed #9999ff;
    margin: 0 0.6vh 0 0;
}

div.skill-button.disabled {
    cursor: default;
    opacity: 0.7;
}

div.skill-button.panel:hover:not(.disabled) {
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 0 1.0em #6666ff;
    cursor: pointer;
}

div.skill-button.panel > img {
    width: 6.0vh;
    height: 6.0vh;
    float: left;
}

/* **************************************************************
   * ChestView
 */

div.chest.panel {
    overflow: visible;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 25vw;
    max-width: 45vw;
    margin: 0;
    z-index: 3;
}

div.chest.panel.side {
    transform: translate(5%,-50%);
}

@media screen and (orientation: portrait) {
    div.chest.panel {
        top: 45%;
    }
    div.chest.panel.side {
        transform: translate(55%,-50%);
    }
}

div.chest.panel.disabled {
    cursor: default;
}

div.chest.panel.open {
    z-index: 1;
}

div.chest-text.panel {
    min-width: 20vw;
    max-width: 45vw;
    padding: 0.3em;
    opacity: 1;
    background: moccasin;
    box-shadow: 0 0 1em black, 0 0 1em saddlebrown inset;
}

div.chest.panel:hover:not(.disabled) {
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 1.0em rgba(255,255,255,0.2);
    cursor: url(../img/cursor/chest-cursor.png) 16 16, pointer;
}

div.chest.panel:hover:not(.disabled) > div.chest-text.panel {
    box-shadow: 0 0 1em yellow, 0 0 1em saddlebrown inset;
}

div.chest.panel > div.chest-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    height: 25vh;
}

div.chest.panel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 25vh;
}

div.chest.panel img.gold {
    animation: glow-yellow 2s infinite;
}

@keyframes sparkle {
    0% {opacity: 0; transform: translate(-110%,-70%) scale(0,0);}
    10% {opacity: 1; transform: translate(-110%,-70%) scale(2,2);}
    25% {opacity: 0; transform: translate(-110%,-70%) scale(0,0);}
    33% {opacity: 0; transform: translate(150%,30%) scale(0,0);}
    43% {opacity: 1; transform: translate(150%,30%) scale(2,2);}
    58% {opacity: 0; transform: translate(150%,30%) scale(0,0);}
    67% {opacity: 0; transform: translate(-55%,70%) scale(0,0);}
    77% {opacity: 1; transform: translate(-55%,70%) scale(2,2);}
    92% {opacity: 0; transform: translate(-55%,70%) scale(0,0);}
    100% {opacity: 0; transform: translate(-110%,-70%) scale(0,0);}
}

@keyframes taken {
    0% {opacity: 1; transform: translate(-50%,-50%) scale(1,1);}
    100% {opacity: 0; transform: translate(-50%,-75%) scale(2,2);}
}

div.chest.panel img.sparkle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3vh;
    height: 3vh;
    animation: sparkle 6s infinite;
}

div.chest.panel.taken img.gold {
    animation: taken 0.3s;
    animation-fill-mode: forwards;
    transform-origin: center center;
}

div.chest.panel.taken > div.chest-text.panel {
    transition: opacity 0.3s;
    opacity: 0;
}

/* **************************************************************
   * CharacterView
 */

div.player.panel {
    display: inline-block;
    background: moccasin;
    border: 0.3vh solid green;
    position: fixed;
    left: 0.5vh;
    bottom: 0.5vh;
    right: 0.5vh;
}

div.player.panel.minimal {
    background: none;
    border: none;
}

.shop > div.player.panel.minimal {
    background: rgba(0,0,0,0.6);
}

/* stats panel on CharacterView */

div.stats.panel {
    display: inline-block;
}

/* potions panel on CharacterView */

div.potions.panel {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 30vw;
    text-align: left;
}

div.potions-list.panel {
    max-height: 18vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    text-align: left;
}

div.potions-list.panel::-webkit-scrollbar {
    width: 0.75vw;
    background: rgba(0,0,0,0.25);
}

div.potions-list.panel::-webkit-scrollbar-thumb {
    background: moccasin;
}

/* blessings panel on CharacterView */

div.blessings.panel {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    max-width: 30vw;
}

/* inventory panel on CharacterView */

div.inventory.panel {
    display: inline-block;
    border: 0.3vh solid gray;
    background: #804000;
    padding-bottom: 0.6vh;
    margin-bottom: 1vh;
    min-width: 30vw;
    max-width: 55vw;
}

.minimal > .stats,
.minimal > .blessings,
.minimal > .potions {
    text-shadow: 0 0 0.1em moccasin, 0 0 0.2em moccasin, 0 0 0.3em moccasin, 0 0 0.4em moccasin;
}

.minimal > div.blessings.panel,
.minimal > div.potions.panel {
    max-width: 21vw;
    top: initial;
    bottom: 0.5vh;
}

.minimal div.inventory.panel {
    background: rgba(0,0,0,0.4);
}

div.weapon.panel {
    display: inline-block;
    margin-bottom: 1vh;
    white-space: nowrap;
}

div.popup.panel div.weapon.panel {
    background-color: saddlebrown;
    box-shadow: 0 0 0.3em moccasin inset;
    border-radius: 0.2em;
    margin: 0.1em;
    padding: 0.2em 0.4em;
}

div.weapon.panel.changed {
    animation: highlight-change 0.5s;
}

div.inventory.panel div.weapon.panel:not(.disabled):hover {
    cursor: url(../img/cursor/swap-weapon.png) 16 16, pointer;
}

div.weapon-image {
    position: relative;
    display: inline-block;
    margin: 0 0.2em;
    padding: 0;
    border: 0;
    width: 4.0vh;
    height: 4.0vh;
    box-sizing: content-box;
}

div.weapon-image, div.weapon-image > * {
    transform: translate(0,0.1vh);
}

img.weapon {
    width: 4.0vh;
    height: 4.0vh;
    margin: 0;
}

div.weapon.label {
    display: inline-block;
    color: moccasin;
    font-size: 2.4vh;
    line-height: 90%;
}

/* **************************************************************
   * PotionView
 */

div.potion.panel {
    display: inline-block;
    background-color: rgba(255,255,255,0.1);
    border: 0.3vh dashed red;
    white-space: nowrap;
}

.minimal div.potion.panel {
    background-color: rgba(0,0,0,0.1);
}

div.potion.disabled {
    cursor: default;
    opacity: 0.7;
}

div.potion.panel:hover:not(.disabled) {
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 0 1.0em darkred;
    cursor: pointer;
}

.minimal div.potion.panel:hover:not(.disabled) {
    background-color: rgba(0,0,0,0.3);
}

div.potion.panel:hover:not(.disabled) > img {
    transform: scale(1.1,1.1);
}

div.label.amount.changed {
    animation: highlight-change 0.5s;
}

/* **************************************************************
   * BlessingView
 */

div.blessing.panel {
    display: inline-block;
    margin-right: 0;
    padding-right: 0;
}

/* **************************************************************
   * PotionView, BlessingView common
 */

div.potion.panel > img, div.blessing.panel > img {
    width: 4vh;
    height: 4vh;
    float: left;
}

div.potion.panel > div.label, div.blessing.panel > div.label {
    display: inline-block;
    margin: 1vh 0.2em;
    font-size: 2.0vh;
}

/* **************************************************************
   * Misc
 */

span.jahyca {
    font-family: titleFont,Ubuntu,Arial,sans-serif;
    font-weight: bold;
    font-size: 130%;
    color: darkgreen;
    text-shadow: 0 0 0.1em white, 0 0 0.2em blue, 0 0 0.3em violet;
}

span.version {
    font-family: monospace;
    font-size: 70%;
    border: 1px dashed saddlebrown;
    padding: 0.1em 0.2em;
    margin: 0 0.1em;
    background: antiquewhite;
    white-space: nowrap;
}

div.releaseParagraph {
    margin-bottom: 0.6em;
}

div.releaseNotes {
    text-align: left;
    max-height: 70vh;
}

div.releaseNote {
    display: inline-block;
    text-align: left;
}

div.room-note.panel {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25vw;
    padding: 0.3em;
    transform: translate(-50%,-50%);
    background-color: moccasin;
    box-shadow: 0 0 1em black, 0 0 1em saddlebrown inset;
}

div.label.battle:after {
    content: "";
    display: inline-block;
    background: url("../img/battle.png") 100% 100% / cover;
    width: 0.8em;
    height: 0.8em;
    margin: 0 0 0 0.15em;
    transform: translate(0, 10%);
}

.minimal div.label.battle:after {
    background: url("../img/battle-dark.png") 100% 100% / cover;
}

div.label.battle.changed {
    animation: highlight-change 0.5s;
}

span.physical-damage, span.magic-damage {
    margin-right: 1.1em;
    white-space: nowrap;
}

span.physical-damage:after, span.magic-damage:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.0em;
    height: 1.0em;
    margin: 0 0 0 0.1em;
    bottom: 0.2em;
}

span.physical-damage:after {
    background: url("../img/damage-physical.png") 100% 100% / cover;
}

span.magic-damage:after {
    background: url("../img/damage-magic.png") 100% 100% / cover;
}

/* top menu buttons */

.menu-button {
    width: 4vh;
    height: 4vh;
}

.menu-button.menu,
.menu-button.filter {
    margin: 1.3vh 1.4vh;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-button.save {
    margin: 1.3vh 1.4vh;
    position: fixed;
    top: 0;
    left: 5vh;
}

.menu-button.load {
    margin: 1.3vh 1.4vh;
    position: fixed;
    top: 0;
    left: 10vh;
}

.menu-button:hover {
    filter: drop-shadow(0 0 0.5vh white);
    cursor: pointer;
}

/* **************************************************************
   * Text highlights
 */

span.enemyProperty {
    font-weight: bold;
    color: darkred;
}

span.weapon-description {
    font-size: 80%;
}

span.item-quality {
    font-size: 80%;
    color: #ffbe4d;
}

span.item-value-with-improved-quality {
    color: white;
    font-weight: bold;
}

span.magic-item {
    text-shadow: 0 0 0.2em orchid, 0 0 0.2em darkorchid;
}

span.damage {
    font-weight: bold;
}

span.hero-name {
    text-shadow: 0 0 0.1em gray;
    color: darkred;
}

/*span.magic-damage {
    color: orchid;
    text-shadow: 0 0 0.2em orchid, 0 0 0.2em darkorchid;
}*/

div.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

div.magic-item {
    box-shadow: inset 0 0 1.5em darkorchid;
}

/* **************************************************************
 * Leaderboard
 */

div.season-end {
    position: absolute;
    right: 1.5em;
    top: 2em;
    font-size: 80%;
    text-align: center;
}

button.leaderboard-previous{
    position: absolute;
    left: 1.5em;
    top: 2em;
}

button.leaderboard-current {
    position: absolute;
    right: 1.5em;
    top: 2em;
}

table.leaderboard {
    box-shadow: 0 0 0.4em saddlebrown;
    margin: 0 0.2em;
    padding: 0;
    white-space: nowrap;
    font-size: 90%;
    border-spacing: 0.3vh;
}

table.leaderboard tbody {
    max-height: 60vh;
}

table.leaderboard thead, table.leaderboard tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table.leaderboard th {
    background: #ddc691;
    padding: 0.3em;
    font-weight: bold;
    text-shadow: 0 0 0.1em gray;
    font-family: titleFont;
    box-shadow: 0 0 0.4em antiquewhite inset;
    vertical-align: middle;
}

table.leaderboard th>img.coin {
    width: 0.9em;
    height: 0.9em;
    transform: translateY(10%);
}

table.leaderboard th>img {
    width: 1.1em;
    height: 1.1em;
    transform: translateY(15%);
}

table.leaderboard tr:nth-child(even) {
    background: #ddc691;
}

table.leaderboard td.name {
    font-size: 90%;
    position: relative;
    padding: 0.1em 0.2em 0.1em 2.5em;
}

table.leaderboard td.name > img {
    position: absolute;
    top: 0.45em;
    left: 0.45em;
    width: 1.8em;
    height: 1.8em;
}

table.leaderboard td.name > img.portrait-frame {
    top: 0.0em;
    left: 0.0em;
    width: 2.7em;
    height: 2.7em;
}

table.leaderboard tr.own {
    text-shadow: 0 0 0.1em gray;
    color: darkred;
}

table.leaderboard tr.own>td.rank,
table.leaderboard tr.own>td.name,
table.leaderboard tr.own>td.score {
    font-weight: bold;
}

table.leaderboard td.money {
    font-size: 90%;
}

table.leaderboard tr {
    margin: 0;
    border: 0;
    padding: 0;
}

table.leaderboard td,
table.leaderboard th {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

table.leaderboard td {
    padding: 0.25em;
    outline: 0.3vh solid moccasin;
}

table.leaderboard td.time {
    font-size: 80%;
}

@media (max-aspect-ratio: 1/2) {
    table.leaderboard tbody {
        font-size: 90%;
    }
}

table.leaderboard th.rank,
table.leaderboard td.rank {
    width: 1.8vh;
}

table.leaderboard th.name,
table.leaderboard td.name {
    width: 8vh;
}

table.leaderboard th.score,
table.leaderboard td.score {
    width: 4vh;
}

table.leaderboard th.money,
table.leaderboard td.money {
    width: 3.5vh;
}

table.leaderboard th.kills,
table.leaderboard td.kills {
    width: 3vh;
}

table.leaderboard th.areas,
table.leaderboard td.areas {
    width: 2vh;
}

table.leaderboard th.time,
table.leaderboard td.time {
    width: 3vh;
}